@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font: 'Arsenal SC';
  --primary-bg: #f8f9fa;
  --secondary-bg: #e9ecef;
  --border-color: #818488;
  --text-color: #212529;
  --link-color: #111e91;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font), sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-color);
  line-height: 1.6;
}

h3 {
  padding: 10px 0;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
  padding: 15px;
  background-color: var(--border-color);
  border-radius: 8px;
}

.column {
  background-color: var(--secondary-bg);
  width: 100%;
  text-align: center;
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
}

.row {
  min-width: 30px;
  min-height: 82px;
  background-color: var(--primary-bg);
  padding: 10px 6px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}

.row.heading {
  background-color: var(--text-color);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
}

.row.heading::after,
.row.heading::before {
  content: '\2B9D'; /* Down arrow */
  position: absolute;
  /* right: 80px; */
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.row.heading::before {
  left: 50px;
}

.row.heading::after {
  right: 50px;
}

.column.collapsed .row.heading::after,
.column.collapsed .row.heading::before {
  content: '\2B9F'; /* Up arrow */
  transform: rotate(0deg);
}

.row:nth-child(even) {
  background-color: var(--secondary-bg);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .column {
    margin: 10px 0;
  }

  .title {
    font-size: 1.5rem;
  }

  .row {
    font-size: 14px;
    padding: 8px 4px;
  }

  .row.heading {
    font-size: 1rem;
    padding: 10px 0;
  }

  .column.collapsed .row:not(.heading) {
    display: none;
  }

  .column {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  .column.collapsed {
    max-height: 82px; /* Adjust this value as needed */
  }
}

@media (min-width: 481px) {
  .row.heading::before,
  .row.heading::after {
    display: none;
  }
}
